
.button {
  font-size: 18px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
}

.button-td {
  padding: 0;
}



.primary {
  background-color: #0058ff;
  color: #fff;
}

.primary:active {
  background-color: #1342DB;
}

.success {
  background-color: #1ba139;
  color: #fff;
}

.warning {
  background-color: #e3b945;
  color: #212529;
}

.warning:active {
  background-color: #DBA70A;
}

.danger {
  background-color: #bd2130;
  color: #fff;

}

.danger:active {
  background-color: #AF1522;
}

.finishWorkout {
  cursor: pointer;
  background-color: #212121;
  color: #fff;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  margin-top: 25px;

}

.finishWorkout:active {
  background-color: #141313;
}

.button-row {
  padding-top:20px;
}

.add-workout {
  width: 100%;
  letter-spacing: 0.3rem;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  margin-top: 15px;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
}

.add-workout:active {
    background-color: #111111;
}

.plus-color {
  color: #F36A23;
}

.today {
  margin-bottom: 15px;
}
.button1, .button2 {
  display: block;
}
.button-group {
  display: block;
}
