.banner {
  background-color: gray;
  height: 243px;
  padding-top: 80px;
}

.description {
  height: 500px;

}

.title {
  font-size: 60px;
}
.tagline {
  font-size: 24px;
}

.description {
  background-color: violet;
  padding-top: 50px;
}

.description h2 {
  margin: 0;
  font-size: 40px;
}

.description p {
  font-size: 20px;
  width: 30%;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  margin: 0 auto;
}

.graphImage {
  background-color: grey;
  width: 30%;
  height: 200px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: gray;
  height: 30px;

}
