
.background {
  background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.5)),url('./background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.landingPage {
  margin-left: 40%;
  padding-top: 7%;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #EEEEEF;
}

.tagline {
  font-size: 58px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 5px;
}

.info {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  width: 50%;
  margin-bottom: 10px;
}


.linkButton {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color:#E75C05;
}

.linkButton:active, .linkButton:hover {
  background-color: #D35004;
  cursor: pointer;
}

.linkButton > a {
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .landingPage {
    margin: 0 auto;
    text-align: center;
  }

  .tagline {
    margin-top: 30px;
  }
  .info {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
  }

  .linkButton {
    margin-top: 50px;
    font-size: 32px;
  }

}
